* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive; */

main header h1,
legend,
button {
  font-family: 'Staatliches', cursive;
}

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 6.25%;
}

body {
  background-color: #BFD7E4;
}

body::before {
  background-color: #293241;

  width: 100%;
  height: 465rem;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

}

.page {
  width: 750rem;

  margin: 0 auto 100rem;
}

main header {
  color: #FFFFFF;

  margin-top: 107rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main header h1 {
  font-size: 36rem;
  line-height: 45rem;
  text-transform: uppercase;
}

main header p {
  font-size: 16rem;
  line-height: 24rem;
}

main header img {
  margin: 24rem 0 32rem;
}

form {
  background-color: #FFFFFF;

  padding: 0 64rem;
  border-radius: 20rem;

  display: flex;
  flex-direction: column;
  gap: 36rem;

  position: relative;
}

fieldset {
  border: none;

  display: flex;
  flex-direction: column;
  gap: 16rem;
}

#personal-info {
  color: #FFFFFF;
  font-size: 24rem;
  line-height: 33rem;

  background-color: #F67669;

  padding: 50rem 0;
  border: none;
  border-radius: 20rem 20rem 0 0;

  width: 750rem;

  position: absolute;
  top: 0;
  left: 0;
}

legend {
  font-size: 24rem;
  line-height: 34rem;
  color: #253B51;

  margin-bottom: 32rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid #E6E6F0;

  width: 100%;

  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

label {
  font-size: 14rem;
  line-height: 24rem;
  color: #4E4958;
}

label span {
  color: #4e495893;
}

.input-wrapper input,
select,
textarea,
.checkbox-wrapper input {
  color: #4e4958e8;
  background-color: #FAFAFC;

  padding: 10rem;
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  width: 300rem;
  height: 55rem;

  appearance: none;
  -webkit-appearance: none;

  cursor: text;
}

select,
.checkbox-wrapper input,
.checkbox-wrapper label {
  cursor: pointer;
}

.input-wrapper input:focus,
select:focus,
textarea:focus,
.checkbox-wrapper input:focus,
form button:focus {
  outline: 2px solid #4e4958c5;
}

.input-wrapper input:required:not(:placeholder-shown):invalid {
  border: 2px solid #F67669;
}

.username {
  margin-top: 163rem;

  display: flex;
  gap: 22rem;
}

.input-wrapper select:first-child {
  color: #4e495893;
}

textarea {
  resize: vertical;

  min-height: 100rem;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.checkbox-wrapper input {
  width: 24rem;
  height: 24rem;
}

.checkbox-wrapper input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_644_20)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_644_20'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.date {
  display: flex;
  gap: 32rem;
}

.time {
  display: flex;
  gap: 10rem;
}

.time .input-wrapper input {
  width: 140rem;
}

form button {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;

  background-color: #F67669;

  border: none;
  border-radius: 8px;

  margin: 28rem 0 64rem;

  width: 622rem;
  height: 51rem;
}

::placeholder {
  color: #4e495863;
}